<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<!-- Website Title -->
		<title>Therapico</title>
		<!-- For IE -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!-- For Resposive Device -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- For Window Tab Color -->
		<!-- Chrome, Firefox OS and Opera -->
		<meta name="theme-color" content="#061948">
		<!-- Windows Phone -->
		<meta name="msapplication-navbutton-color" content="#061948">
		<!-- iOS Safari -->
		<meta name="apple-mobile-web-app-status-bar-style" content="#061948">
		<!-- Favicon -->
		<link rel="icon" type="image/png" sizes="56x56" href="images/fav-icon/mylogo.png">
		<!-- Main style sheet -->
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<!-- responsive style sheet -->
		<link rel="stylesheet" type="text/css" href="css/responsive.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Fix Internet Explorer ______________________________________-->
		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<script src="vendor/html5shiv.js"></script>
			<script src="vendor/respond.js"></script>
		<![endif]-->
	<!-- Start of ChatBot (www.chatbot.com) code -->
<script type="text/javascript">
    window.__be = window.__be || {};
    window.__be.id = "64475b294a8fcb0007dc0e4a";
    (function() {
        var be = document.createElement('script'); be.type = 'text/javascript'; be.async = true;
        be.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.chatbot.com/widget/plugin.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(be, s);
    })();
</script>
<!-- End of ChatBot code -->
	</head>

	<body>
		<div class="main-page-wrapper">

		
			<div id="loader-wrapper">
				<div id="loader"></div>
			</div>

			

			<header class="header-two">
				<div class="top-header">
					<div class="container">
						<div class="row">
							<div class="col-md-6 col-sm-8 col-12">
								<ul class="left-widget">
									<li>Phone: +216 72 206 452</li>
									<li>
										<div id="polyglotLanguageSwitcher">
											<form action="#">
												<select id="polyglot-language-options">
													<option id="en" value="en" selected>English</option>
													<option id="fr" value="fr">French</option>
													<option id="de" value="de">German</option>
													<option id="it" value="it">Italian</option>
													<option id="es" value="es">Spanish</option>
												</select>
											</form>
										</div> <!-- End #polyglotLanguageSwitcher -->
									</li>
								</ul>
							</div>
							<div class="col-md-6 col-sm-4 col-12">
								<ul class="social-icon">
									<!--<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
									<li><a href="https://www.facebook.com/malekjendoubii"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>-->
									<!--<li><a href="si.html">Connexion</a></li>-->
									<li><a href="sign.html">Sign in/up</a></li>

									<li><button style="background-color:black ; border-color: white;color: #ccd1dd  "onclick="myFunction()"> Dark Mode</button></li>

								</ul>
							</div>
						</div> <!-- /.row -->
					</div> <!-- /.container -->
				</div> <!-- /.top-header -->

				<div class="theme-menu-wrapper">
					<div class="container">
						<div class="bg-wrapper clearfix">
							<div class="logo float-left"><a href="index.html"><img class="logmer" src="images/logo/mylogo.png" alt=""></a></div>
							<!-- ============== Menu Warpper ================ -->
							<div class="menu-wrapper float-left">
								<nav id="mega-menu-holder" class="clearfix">
									<ul class="clearfix">
										<li class="active"><a href="index.html">Home</a></li>
										<li><a href="about.html">ABOUT US</a></li>
										
										<li><a href="service.html">Services</a></li>
										
										<li><a href="#">Services Presentation</a>
											<ul class="dropdown">
												<li><a href="blog.html">Patients' Service</a></li>
												<li><a href="blog-r.html">Blog Right Sidebar</a></li>
												<li><a href="blog-details.html">Blog Post</a></li>
											</ul>
											
										</li>
										<li><a href="addcontact.php">contact</a></li>
									</ul>
								</nav> <!-- /#mega-menu-holder -->
							</div> <!-- /.menu-wrapper -->
							<div class="right-widget float-right">
								<ul>
									<li >
										<a href="add_paiment.php"><img src="images/icon/money.png"></a>
									</li>
									<li class="search-option">
										<div class="dropdown">
											<button type="button" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-search" aria-hidden="true"></i></button>
											<form action="#" class="dropdown-menu">
												<input type="text" Placeholder="Enter Your Search">
												<button><i class="fa fa-search"></i></button>
											</form>
										</div>
									</li>
								</ul>
							</div> <!-- /.right-widget -->
						</div> <!-- /.bg-wrapper -->
					</div> <!-- /.container -->
				</div> <!-- /.theme-menu-wrapper -->
			</header>  <!-- /.header-one -->

			
			<!-- 
			=============================================
				Theme Main Banner
			============================================== 
			-->
			<div id="theme-main-banner" class="banner-one meraba">
				<div data-src="images/slideshow/slide-1.jpg">
					<div class="camera_caption">
						<div class="container">
							<p class="wow fadeInUp animated white"></p>
							<h1 class="wow fadeInUp animated white" data-wow-delay="0.2s">If you feel lonely Therapico is always here for you <br>Do not think twitce just get started with us</h1>
							<a href="about.html" class="theme-button-one wow fadeInUp animated" data-wow-delay="0.39s">learn more</a>
						</div> <!-- /.container -->
					</div> <!-- /.camera_caption -->
				</div>
				<div data-src="images/slideshow/slide-2.jpg">
					<div class="camera_caption">
						<div class="container">
							<p class="wow fadeInUp animated white"></p>
							<h1 class="wow fadeInUp animated white" data-wow-delay="0.2s">If you feel lonely Therapico is always here for you <br>Do not think twitce just get started with us</h1>
							<a href="about.html" class="theme-button-one wow fadeInUp animated" data-wow-delay="0.39s">learn more</a>
						</div> <!-- /.container -->
					</div> <!-- /.camera_caption -->
				</div>
				<div data-src="images/slideshow/slide-3.jpg">
					<div class="camera_caption">
						<div class="container">
							<p class="wow fadeInUp animated white"></p>
							<h1 class="wow fadeInUp animated white" data-wow-delay="0.2s">If you feel lonely Therapico is always here for you <br>Do not think twitce just get started with us</h1>
							<a href="about.html" class="theme-button-one wow fadeInUp animated" data-wow-delay="0.39s">learn more</a>
						</div> <!-- /.container -->
					</div> <!-- /.camera_caption -->
				</div>
			</div> <!-- /#theme-main-banner -->
			
			
			<!-- 
			=============================================
				CallOut Banner 
			============================================== 
		
			<div class="callout-banner section-spacing">
				<div class="container clearfix">
					<h3 class="title">Lorem ipsum dolor sit amet concesteur</h3>
					<p>Vitae sapien pellentesque habitant morbi. Scelerisque varius morbi enim nunc faucibus a pellentesque sit amet. Risus ultricies tristique nulla aliquet enim tortor. Turpis nunc eget lorem dolor sed viverra.</p>
					<a href="#" class="theme-button-one">MORBI VARIUS</a>
				</div>
			</div>	-->
			 <!-- /.callout-banner -->


			<!-- 
			=============================================
				Our Solution
			============================================== 
			-->
		

			<!-- 
			=============================================
				About Company Stye Two
			============================================== 
			-->
			<div class="about-compnay-two section-spacing">
				<div class="overlay">
					<div class="container">
						<div class="row no-gutters">
							<div class="col-lg-7 col-12 text">
								<center>
								<div class="theme-title-one">
									<h2>About us</h2>
								</div> <!-- /.theme-title-one -->
								<p>Therapico provides a range of therapy programs, coaching services, and counseling sessions through its mental health center website, all aimed at enhancing the mental well-being and health of individuals.



								</p>
								<p>They offer convenient, affordable and quality services to help patients manage life's difficulties and challenges in a secure and confidential environment. </p>
							</center>
							<img src="images/signature_pandadoc.png" alt="" class="sign">
							
							</div> <!-- /.col- -->
							
							</div>
						</div> <!-- /.row -->
					</div> <!-- /.container -->
				</div> <!-- /.overlay -->
			</div> <!-- /.about-compnay-two -->


			<!-- 
			=============================================
				Our Case
			============================================== 
			-->
			<div class="our-case section-spacing">
				<div class="container">
					<div class="theme-title-one">
						<h2>Our Doctors</h2>
					</div> <!-- /.theme-title-one -->
					<div class="wrapper">
						<div class="row">
							<div class="col-lg-4 col-sm-6 col-12">
								<div class="single-case-block">
									<img src="images/our-cases/1.jpg" alt="">
									<div class="hover-content">
										<div class="text clearfix">
											<div class="float-left">
												<h5><a href="#"></a></h5>
												<p></p>
											</div>
											
										</div> <!-- /.text -->
									</div> <!-- /.hover-content -->
								</div> <!-- /.single-case-block -->
							</div> <!-- /.col- -->
							<div class="col-lg-4 col-sm-6 col-12">
								<div class="single-case-block">
									<img src="images/our-cases/2.jpg" alt="">
									<div class="hover-content">
										<div class="text clearfix">
											<div class="float-left">
												<h5><a href=""></a></h5>
												<p></p>
											</div>
											
										</div> <!-- /.text -->
									</div> <!-- /.hover-content -->
								</div> <!-- /.single-case-block -->
							</div> <!-- /.col- -->
							<div class="col-lg-4 col-sm-6 col-12">
								<div class="single-case-block">
									<img src="images/our-cases/3.jpg" alt="">
									<div class="hover-content">
										<div class="text clearfix">
											<div class="float-left">
												<h5><a href=""></a></h5>
												<p></p>
											</div>
											
										</div> <!-- /.text -->
									</div> <!-- /.hover-content -->
								</div> <!-- /.single-case-block -->
							</div> <!-- /.col- -->
							<div class="col-lg-4 col-sm-6 col-12">
								<div class="single-case-block">
									<img src="images/our-cases/4.jpg" alt="">
									<div class="hover-content">
										<div class="text clearfix">
											<div class="float-left">
												<h5><a href=""></a></h5>
												<p></p>
											</div>
											
										</div> <!-- /.text -->
									</div> <!-- /.hover-content -->
								</div> <!-- /.single-case-block -->
							</div> <!-- /.col- -->
							<div class="col-lg-4 col-sm-6 col-12">
								<div class="single-case-block">
									<img src="images/our-cases/5.jpg" alt="">
									<div class="hover-content">
										<div class="text clearfix">
											<div class="float-left">
												<h5><a href=""></a></h5>
												<p></p>
											</div>
											
										</div> <!-- /.text -->
									</div> <!-- /.hover-content -->
								</div> <!-- /.single-case-block -->
							</div> <!-- /.col- -->
							<div class="col-lg-4 col-sm-6 col-12">
								<div class="single-case-block">
									<img src="images/our-cases/6.jpg" alt="">
									<div class="hover-content">
										<div class="text clearfix">
											<div class="float-left">
												<h5><a href="#"></a></h5>
												<p></p>
											</div>
											
										</div> <!-- /.text -->
									</div> <!-- /.hover-content -->
								</div> <!-- /.single-case-block -->
							</div> <!-- /.col- -->
						</div> <!-- /.row -->
					</div> <!-- /.wrapper -->
					
				</div> <!-- /.container -->
			</div> <!-- /.our-case -->


			<!--
			=====================================================
				Faq Section
			=====================================================
			-->
			<div class="faq-section">
				<div class="overlay">
					<div class="container">
						<div class="theme-title-one">
							<h2>Faq’s</h2>
							<p> Try these five tips to manage stress and reduce the overall stress of day-to-day activities:</p>
				
						
						</div> <!-- /.theme-title-one -->
						<div class="wrapper row no-gutters">
							<div class="col-xl-6 col-lg-7 order-last">
								<div class="faq-content">
									
									<div class="accordion-one">
										<div class="panel-group theme-accordion" id="accordion">
										  <div class="panel">
										    <div class="panel-heading">
										      <h6 class="panel-title">
											
										        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
													1. Use guided meditation.</a>
										      </h6>
										    </div>
										    <div id="collapse1" class="panel-collapse collapse">
										      <div class="panel-body">
										      	<p>Guided meditation is a great way to distract yourself from the stress of day-to-day life. There are many guided meditations available online that can help you find five minutes of centered relaxation.</p>
										      </div>
										    </div>
										  </div> <!-- /panel 1 -->
										  <div class="panel">
										    <div class="panel-heading ">
										      <h6 class="panel-title">
										        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
													2. Practice deep breathing.</a>
										      </h6>
										    </div>
										    <div id="collapse2" class="panel-collapse collapse ">
										      <div class="panel-body">
										      	<p>Deep breathing is a great way to reduce the activation of your sympathetic nervous system, which controls the body's response of fight or flight to a perceived threat. Deep breaths taken in for a count of five seconds, held for two seconds and released for a count of five seconds, can help activate your parasympathetic nervous system to rest and digest, which helps reduce the overall stress and anxiety you may be experiencing.</p>
										      </div>
										    </div>
										  </div> <!-- /panel 2 -->
										  <div class="panel">
										    <div class="panel-heading">
										      <h6 class="panel-title">
										        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
													3. Maintain physical exercise and good nutrition.</a>
										      </h6>
										    </div>
										    <div id="collapse3" class="panel-collapse collapse">
										      <div class="panel-body">
										      	<p>Physical exercise and nutrition are two important components in how you respond to stress. When your body is healthy, your mind can be healthy and vice versa. Physical exercise is proven to be a great stress reliever and also helps to improve your overall quality of life. Nutrition is important because stress can deplete certain vitamins, such as A, B complex, C and E. Maintaining proper nutrition not only helps your body feel better, but your mind as well, which allows you to better combat stress.</p>
										      </div>
										    </div>
										  </div> <!-- /panel 3 -->
										  <div class="panel">
										    <div class="panel-heading">
										      <h6 class="panel-title">
										        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
													4. Manage social media time.
												</a>
										      </h6>
										    </div>
										    <div id="collapse4" class="panel-collapse collapse">
										      <div class="panel-body">
										      	<p>Spending time on social media sites can become stressful, not only by what you might see on them, but also because the time might best be spent enjoying visiting with friends, being outside enjoying the weather or reading a great book. In addition, many people use social media at night, which may worsen sleep due to increased stress at the exact time people are trying to wind down for the evening, resulting in fewer overall hours of quality sleep.</p>
										      </div>
										    </div>
										  </div> <!-- /panel 4 -->
										  <div class="panel">
										    <div class="panel-heading">
										      <h6 class="panel-title">
										        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
													5. Connect with others.</a>
										      </h6>
										    </div>
										    <div id="collapse5" class="panel-collapse collapse">
										      <div class="panel-body">
										      	<p>Humans are social beings. You need to have connections with people to feel supported. Finding a sense of community, whether at work, with a religious organization or through shared activities, such as organized sports, is important to your well-being. Enjoying a shared activity allows you to find support and foster relationships that can be supportive in difficult times.</p>
										      </div>
										    </div>
										  </div> <!-- /panel 5 -->
										</div> <!-- end #accordion -->
									</div> <!-- End of .accordion-one -->
								</div> <!-- /.faq-content -->
							
							</div> <!-- /.col- -->

							<div><video width="500" height="300" controls>
								<source src="video/stress.mp4" type="video/mp4">
								
							  
							  </video> </div>
							
						</div> <!-- /.wrapper -->
					
						
					
					</div> <!-- /.container -->
				</div> <!-- /.overlay -->
			</div> <!-- /.faq-section -->


			<!--
			=====================================================
				Google Map
			=====================================================
			-->
			<!-- Google Map -->
			<!--<div class="google-map-one"><div class="map-canvas"></div></div> -->
			<div id="google_map"></div>

			<!--
			=====================================================
				Footer
			=====================================================
			-->
			<footer class="theme-footer-two">
				<div class="top-footer">
					<div class="container">
						<div class="row">
							<div class="col-lg-4 col-sm-6 col-12 logo-widget">
								<div class="logo"><a href="index.html"><img class="logmer" src="images/logo/mylogo.png" alt=""></a></div>
								<p>Socials:</p>
								<ul class="social-icon">
									<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								</ul>
							</div> <!-- /.logo-widget -->
							<div class="col-lg-2 col-sm-6 col-12 footer-list">
								<h6 class="title">EXPLORE</h6>
								<ul>
									<li><a href="about.html">About us</a></li>
									<li><a href="service.html">Service</a></li>
									<li><a href="blog.html">Service Presentation</a></li>
									<li><a href="contact.html">Contact us</a></li>
								</ul>
							</div> <!-- /.footer-list -->
							<div class="col-lg-3 col-sm-6 col-12 footer-gallery">
								<h6 class="title">Gallery</h6>
								<div class="wrapper">
									<div class="row">
										<div class="col-4">
											<a href="images/footer/1.jpg" data-fancybox="gallery" data-caption="Caption for single image" class="fancybox"><img src="images/footer/1.jpg" alt=""></a>
										</div>
										<div class="col-4">
											<a href="images/footer/2.jpg" data-fancybox="gallery" data-caption="Caption for single image" class="fancybox"><img src="images/footer/2.jpg" alt=""></a>
										</div>
										<div class="col-4">
											<a href="images/footer/3.jpg" data-fancybox="gallery" data-caption="Caption for single image" class="fancybox"><img src="images/footer/3.jpg" alt=""></a>
										</div>
										<div class="col-4">
											<a href="images/footer/4.jpg" data-fancybox="gallery" data-caption="Caption for single image" class="fancybox"><img src="images/footer/4.jpg" alt=""></a>
										</div>
										<div class="col-4">
											<a href="images/footer/5.jpg" data-fancybox="gallery" data-caption="Caption for single image" class="fancybox"><img src="images/footer/5.jpg" alt=""></a>
										</div>
										<div class="col-4">
											<a href="images/footer/6.jpg" data-fancybox="gallery" data-caption="Caption for single image" class="fancybox"><img src="images/footer/6.jpg" alt=""></a>
										</div>
									</div>
								</div>
							</div> <!-- /.footer-gallery -->
							
							<div class="col-lg-3 col-sm-6 col-12 contact-widget">
								<h6 class="title">CONTACT</h6>
								<ul>
									<li>
										<i class="flaticon-direction-signs"></i>
									 108 Rue des pyramides, Cite Erriadh , Governorate Tunis .
									</li>
									<li>
										<i class="flaticon-multimedia-1"></i>
										<a href="#">Therapico.Care@gmail.com</a>
									</li>
									<li>
										<i class="fa fa-phone" aria-hidden="true"></i>
										<a href="#">+216 72 206 452</a>
									</li>
								</ul>
							</div> <!-- /.contact-widget -->
						</div> <!-- /.row -->
					</div> <!-- /.container -->
				</div> <!-- /.top-footer -->
				<div class="bottom-footer">
					<div class="container">
						<p>DebuggerZ &copy; Copyrights 2023  / All Rights Reserved. </p>
					</div>
				</div> <!-- /.bottom-footer -->
			</footer> <!-- /.theme-footer-two -->
			

	        

	        <!-- Scroll Top Button -->
			<button class="scroll-top tran3s">
				<i class="fa fa-angle-up" aria-hidden="true"></i>
			</button>
			


		<!-- Optional JavaScript _____________________________  -->

    	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    	<!-- jQuery -->
		<script src="vendor/jquery.2.2.3.min.js"></script>
		<!-- Popper js -->
		<script src="vendor/popper.js/popper.min.js"></script>
		<!-- Bootstrap JS -->
		<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
		<!-- Camera Slider -->
		<script src='vendor/Camera-master/scripts/jquery.mobile.customized.min.js'></script>
	    <script src='vendor/Camera-master/scripts/jquery.easing.1.3.js'></script> 
	    <script src='vendor/Camera-master/scripts/camera.min.js'></script>
	    <!-- menu  -->
		<script src="vendor/menu/src/js/jquery.slimmenu.js"></script>
		<!-- WOW js -->
		<script src="vendor/WOW-master/dist/wow.min.js"></script>
		<!-- owl.carousel -->
		<script src="vendor/owl-carousel/owl.carousel.min.js"></script>
		<!-- js count to -->
		<script src="vendor/jquery.appear.js"></script>
		<script src="vendor/jquery.countTo.js"></script>
		<!-- Fancybox -->
		<script src="vendor/fancybox/dist/jquery.fancybox.min.js"></script>
		<!-- Language Stitcher -->
		<script src="vendor/language-switcher/jquery.polyglot.language.switcher.js"></script>
		<!-- Google map js -->



		<!-- Theme js -->
		<script src="js/theme.js"></script>
		<!--<script src="js/map-script.js"></script> -->
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCuGD3coNF7878XNZo0CulQkXUhGiB2X1k"></script>
		<script src="js/googlemap.js"></script>
		<script>
			function myFunction() {
		  var element = document.body;
		  element.classList.toggle("dark-mode");
		}
			</script>
			<script>
				let docTitle = document.title;
window.addEventListener("blur",() => {document.title = "Come back :("; })
window.addEventListener("focus",() => {document.title = "Therapico"; })

			</script>
			
		</div> <!-- /.main-page-wrapper -->
	</body>
</html>