<html>

<head>
<meta name="color-scheme" content="Light">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="icon" type="image/png" sizes="56x56" href="images/fav-icon/mylogo.png">
<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- responsive style sheet -->
		<link rel="stylesheet" type="text/css" href="css/responsive.css">
		<link rel="stylesheet" type="text/css" href="css/backstyle.css">
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<input type="checkbox" id="menu" />

<label for="menu" class="menu">
	<span></span>
	<span></span>
	<span></span>
  
	<ul>
		<br>
		<br>
		<br>
		<br>
	  
	<li><a href="listrdv.php">listrdv</a></li>
	<li><a href="Listlocaux.php">Listlocaux</a></li>
	<li><a href="ListpaimentC.php">Listpaiment</a></li>
	<li><a href="ListPatient.php">ListPatient</a></li>
	<li><a href="listdocteurs.php">listdocteurs</a></li>
	<li><a href="listcontact.php">contact</a></li>
	</ul>

</label>




</body>

</html>

